<div class="container">
  <div style="border-radius:10px; border-style:solid; padding:5px;">
    <h1 style="text-align:center;">{{ title }}</h1>
    <div class="row" style="margin:10px;">
      <form class="form-inline">
        <div class="form-group">
          <label for="exampleInputEmail1">Message</label>
          <input name="message" type="text" [(ngModel)]="message" class="form-control" id="exampleInputEmail1">
        </div>
        <button type="submit" class="btn btn-primary float-right" (click)="submit()">Submit</button>
      </form>
    </div>
    <div class="row" style="margin:10px;">
      <span style="background-color:tan">received: {{messageFromChild}}</span> 
    </div>
    <hr>
    <iframe id="frame" height="210px;" width="100%;" src="http://localhost:4200/" frameborder="0"></iframe>
  </div>
</div>


